CREATE DEFINER=`root`@`localhost` PROCEDURE `upsert_eb_bill_header`(
    IN p_customer_id INT,
    IN p_sc_id INT,
    IN p_year INT,
    IN p_month INT,
    IN p_file_path VARCHAR(255),
    IN p_user_id INT
)
BEGIN
    DECLARE v_header_id INT;
    DECLARE v_old_path VARCHAR(255);

    SELECT id, pdf_file_path INTO v_header_id, v_old_path 
    FROM eb_bill 
    WHERE customer_id = p_customer_id AND sc_id = p_sc_id AND bill_year = p_year AND bill_month = p_month
    LIMIT 1;

    IF v_header_id IS NOT NULL THEN
        UPDATE eb_bill SET pdf_file_path = p_file_path, created_by = p_user_id, created_at = NOW() 
        WHERE id = v_header_id;
        SELECT v_header_id AS header_id, v_old_path AS old_path;
    ELSE
        INSERT INTO eb_bill (customer_id, sc_id, bill_year, bill_month, pdf_file_path, created_by, created_at) 
        VALUES (p_customer_id, p_sc_id, p_year, p_month, p_file_path, p_user_id, NOW());
        SELECT LAST_INSERT_ID() AS header_id, NULL AS old_path;
    END IF;
END
